{
  "$schema": "https://railway.app/railway.schema.json",
  "build": {
    "builder": "NIXPACKS",
    "buildCommand": "{{ build_command }}"
  },
  "deploy": {
    "startCommand": "{{ start_command }}",
    "restartPolicyType": "ON_FAILURE",
    "restartPolicyMaxRetries": 10{% if include_health_check %},
    "healthcheckPath": "{{ health_check_path }}",
    "healthcheckTimeout": 300{% endif %}
  }{% if runtime == 'python' %},
  "nixpacksPlan": {
    "phases": {
      "setup": {
        "nixPkgs": ["python{{ python_version.replace('.', '') }}"]
      }
    }
  }{% endif %}
}
